<app-header></app-header>

<div class="wrapper-search-form d-flex d-all-center">
  
  <div class="title">
    <h1>Gestión Usuarios</h1>
  </div>

  <div class="search-form"> 
    <form [formGroup]="customerForm" (ngSubmit)="search()" class="form d-flex">
      <div class="form-input">
        <select formControlName="country" class="form-select">
          <option [ngValue]="null" disabled>Seleccione un País</option>
          <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
        </select>
      </div>
      <div class="form-input">
        <button [disabled]="customerForm.invalid" class="btn-primary">Buscar</button>
      </div>
    </form> 
  </div>

  <div class="list-table">
    <table class="table" *ngIf="customers">
      <thead>
        <th style="width:5%">ID</th>
        <th style="width:30%">Nombres</th>
        <th style="width:30%">Apellidos</th>
        <th style="width:20%">País</th>
        <th style="width:5%">Editar</th>
      </thead>
      <tbody>
        <tr *ngFor="let t of customers | orderBy:'id'">       
          <td>{{ t.id }}</td>
          <td>{{ t.name }}</td>
          <td>{{ t.surname }}</td>
          <td>{{ t.country }}</td>
          <td style="text-align: center">
            <img class="icon" (click)="addCrypto(t.id)" src ="../../../../../assets/icons/editar.png">
          </td>
        </tr>
      </tbody>
    </table>
  </div>  


  <app-add-crypto></app-add-crypto>
</div>