<app-header></app-header>
<h3>Choose Country</h3>
<pre>
    {{exchangeForm.value | json}}
</pre>

<form [formGroup]="exchangeForm" (ngSubmit)="search()">
  <select formControlName="country">
    <option [ngValue]="null" disabled>Select Country</option>
    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
  </select>

  <button [disabled]="exchangeForm.invalid" class="btn-primary">Buscar</button>
</form>

<div class="lista">
    <table *ngIf="exchanges">
        <tr *ngFor="let t of exchanges">
          <th>{{ t.id }}</th>
          <th>{{ t.name }}</th>
          <th>{{ t.status }}</th>
        </tr>
      </table>
</div>