<app-header></app-header>

<div class="wrapper-search-form d-flex d-all-center">
  
  <div class="title">
    <h1>Gestión Plataformas</h1>
  </div>

  <div class="search-form"> 
    <form [formGroup]="exchangeForm" (ngSubmit)="search()" class="form d-flex">
      <div class="form-input">
        <select formControlName="country" class="form-select">
          <option [ngValue]="null" disabled>Seleccione un País</option>
          <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
        </select>
      </div>
      <div class="form-input">
        <button [disabled]="exchangeForm.invalid" class="btn-primary">Buscar</button>
      </div>
    </form> 
  </div>

  <div class="list-table">
    <table class="table" *ngIf="exchanges">
      <thead>
        <th style="width:5%">ID</th>
        <th style="width:70%">Nombre</th>
        <th style="width:25%">Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let t of exchanges">       
          <th>{{ t.id }}</th>
          <th>{{ t.name }}</th>
          <th>{{ t.status ? 'Activa' : 'Inactiva'}}</th>
        </tr>
      </tbody>
    </table>
  </div>  
</div>