:host {
    --navbarHeight: 60px
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
    border-bottom: solid 1px #E2E1E0;
    align-items: center;
    align-content: center;
    height: var(--navbarHeight);
    position: relative;
}

.navbar .logo-section {
    gap: 5rem;
}

.navbar .logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.navbar .menu ul {
    position: relative;
    height: var(--navbarHeight);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.navbar .menu ul li {
    height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.navbar .menu a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
}

.header-menu_link{
    position: relative;
    display: block;
    color: #2C2A29;    
}

.navbar .menu ul li:hover {
    border-bottom: 3px solid var(--color-6);
}

.active-link{
    border-bottom: 3px solid var(--color-6);
}

.navbar .logout:hover {
    background-color: var(--color-6);
}

.logout{
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.logout sub{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.icon-logout{
    align-items: center;
    width: 20px;
    height: 20px;
}