
<div class="navbar">
    <div class="d-flex logo-section d-all-center">
        <div  [routerLink]="['/','management']">
            <img class="logo" src ="../../../../../assets/icons/banano-ban-logo.png">
        </div>
        <div class="menu">
            <ul>
                <li *ngFor="let item of menu" routerLinkActive="active-link">
                   <a class="header-menu_link" [routerLink]="item.path" >{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="logout" (click)="logout()">
            <a class="header-menu_link" >
                <img class="icon-logout" src ="../../../../../assets/icons/salida.png">
            </a>       
            <span>Salir</span>
        </div>
</div>